@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}


/* :root {
  --secondary-purple: #745C97;
  --main-pink: #DC6ACF;
  --secondary-pink: #F5B0CB;
} */
:root {
  --dark-purple: #190B28;
  --main-purple: #39375B;
  --violet: #7776BC ;
  --black: #000000;
  --platinum: #E6E6E9;
  --charcoal: #424651;
  --eerie-black: #191516;
  --cuarzo: #F4F4F6;
}
.loading {
  background-color: var(--granite-gray)!important;
  border-color: var(--granite-gray)!important;
}


@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,#5c374c);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}