
.login-container {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-purple);
}
.login-container > form {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--platinum);
  height: 440px;
  width: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.login-container input[type=text], input[type=password] {
  padding: 20px 10px;
  margin-bottom: 15px;
  width: 300px;
  font-weight: 300;
  font-family: 'Rubik';
  font-size: 500;
  border: none;
}
.login-container input[type=text]:focus-visible, input[type=password]:focus-visible, input[type=email]:focus-visible {
  outline: 1px solid var(--manatee);

}
.login-container input[type=submit] {
  border: 1px solid var(--main-purple);
  background-color: var(--dark-purple);
  width: 80%;
  color: white;
  padding: 15px 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Rubik', serif;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}
.loading-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: grid;
  place-content: center;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
}
.login-container span {
  margin-bottom: 5px;
  font-size: .9rem;
}
.login-container a {
  text-decoration: none;
}